
.headshot{
  height: 300px;
  width: 300px;
}
#about-career{
  line-height: 1.45rem;
  font-family: serif !important;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: justify;  /* For Edge */
  text-align-last: left;
  
}
#heading{
  font-size: 1.9rem;
  font-weight: bold;
  color: #94211d;
  font-family: serif !important;
  text-align: center;
}

.carousel{
  width:600px;
  height: 640px;
}
.carousel > .carousel-inner > .carousel-item > img{
  width:600px; /* Yeap you can change the width and height*/
  height:600px;
}

.carousel p{
  color: white;
}

#about-career-bottom{
  line-height: 1.45rem;
  font-family: serif !important;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;

  font-weight: 500;
  text-align: justify;  /* For Edge */
  text-align-last: left;
} 
#about-career-under-picture{

  line-height: 1.45rem;
  font-family: serif !important;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  font-weight: 500;


  text-align: justify;  /* For Edge */
  text-align-last: left;
}